[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target kafka-zookeeper.service

[Service]
User=kafka
ExecStart={{ installation_dir }}/kafka/bin/kafka-server-start.sh {{ installation_dir }}/kafka/config/server.properties
ExecStop={{ installation_dir }}/kafka/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target

