[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
ExecStart={{ installation_dir  }}/kafka/bin/zookeeper-server-start.sh {{ installation_dir  }}/kafka/config/zookeeper.properties
ExecStop={{ installation_dir  }}/kafka/bin/zookeeper-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target

